<html>
<head>
    <link href="/bootstrap.min.css" rel="stylesheet" />
    <style>
        .container-fluid {
            width: 85%;
            margin: 0 auto;
            display: flex; /* Use flexbox layout */
            flex-direction: column; /* Arrange items vertically */
            margin: 0 auto; /* Center horizontally */
            overflow: auto;
            height: 300px;
        }

    </style>
</head>
<body>
    <%- include('partials/header') %>
    <div class="container-fluid">
            <br>
            <div class="row row-cols-1 g-3">
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Department</th>
                            <th scope="col">License</th>
                            <th scope="col">Is Active?</th>
                            <th scope="col">Created At</th>
                            <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <% for (let i=0; i <records.length; i++){ %>
                            <tr>
                            <th scope="row"><%= records[i].id %></th>
                            <td><%= records[i].name %></td>
                            <td><%= records[i].department %></td>
                            <td><%= records[i].license %></td>
                            <td><%= records[i].isActive %></td>
                            <td><%= records[i].createdAt %></td>
                            <td><button onclick="deleteRow(this)" data-id="<%= records[i].id %>" class="btn btn-danger">X</button></td>
                            </tr>
                            <% } %>

                            <script>
                                function deleteRow(elem) {
                                    var driverId = elem.getAttribute('data-id');
                                    var row = elem.parentNode.parentNode; 
            
                                    fetch(`/33520496/Yang/drivers/delete-driver-req?driverId=${driverId}`, {
                                        method: 'GET' 
                                    })
                                    .then(data => {
                                        row.parentNode.removeChild(row); // Remove the row
                                    })
                                }
                            </script>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
    <%- include('partials/footer') %> 
</body>
</html>
